<div ng-controller="toDo">
    <div class="row">
        <div class="col-md-6">
            <form name="answerform" class="form-horizontal">
                <h2>ToDo</h2>
                <hr />
                <div class="form-group row">
                    <label class="col-md-3 control-label">Author</label>
                    <input class="col-md-offset-3 form-control" ng-model="todo.author" />
                </div>
                <div class="form-group row">
                    <label class="col-md-3 control-label">Title</label>
                    <input class="col-md-offset-3 form-control" ng-model="todo.title" />
                </div>
                <div class="form-group row">
                    <label class="col-md-3 control-label">Description</label>
                    <textarea class="col-md-offset-3 form-control" ng-model="todo.description"></textarea>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3">
                        <input type="button" class="btn btn-default" value="Add" ng-click="add(todo)" />
                        <input type="button" ng-show="updateShow" class="btn btn-default" value="Update" ng-click="update(todo)" />

                    </div>
                </div>
            </form>
            <hr />
            <div class="form-group">
                <button ng-click="getAll()" class="btn btn-default" type="submit">Get all</button>
            </div>
            <input ng-model="id" type="text" placeholder="Id">
            <button ng-click="get(id)" class="btn btn-default" type="button">Get</button>
        </div>
        <div class="col-md-6">
            <h2>ToDos:</h2>
            <hr />
            <div ng-repeat="todo in todos track by $index" ">
                <span><b>Id:</b> {{todo.id}}</span>
                <br />
                <span><b>Author:</b> {{todo.author}}</span>
                <br />
                <span><b>Title:</b> {{todo.title}}</span>
                <br />
                <span><b>Description:</b> {{todo.description}}</span>
                <br />
                <span><b>Date:</b> {{todo.creationDate}}</span>
                <br />
                <button ng-click="remove($index, todo.id)" class="btn btn-default" type="button">Delete</button>
                <hr />
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/WepApi/todoController.js"></script>
    <script src="~/Scripts/WepApi/repository.js"></script>
}
